.format1__container{
    width: 100%;
    margin: auto;
    padding: 20px;
    overflow-y: scroll;
    height: 100vh;
    
    background-color: white;
    font-family: sans-serif;
     /* background-color: rgb(213, 235, 228);
    background-color: rgb(250, 245, 237);  */
}
h2,h3,h3{
    color: var(--blue);
}

::-webkit-scrollbar {
    display: none;
}


hr{
    margin-top: 10px;
    color: black;
}
.intro__container{
    padding-bottom: 1rem;
    width: 100%;
}
.intro__container>h2{
    font-size: 2.4rem;
}
.contact__container{
    display: flex;
    justify-content: space-between;
    right: 0;
    padding-top: 1rem;
}


.detail__container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.left__intro{
    width: 40%;
}
.right__intro{
    width: 60%;
}
.sub__detail{
    padding-bottom: 0.5rem;
}
.edu__detail{
    padding-bottom: 1rem;
}
.experiance__info{
    padding-bottom: 1rem;
}
.experiance__info>p>span{
    font-weight: 600;
    font-size: 1.1rem;
}
.position__info{
    font-style: italic;
    font-family: cursive;
}

.project__info{
    padding-bottom: 1rem;
}
.achievement__list{
    padding-bottom: 1rem;
}
.achiv__info{
    display: flex;
    justify-content: space-between;
}

.detail>p,.project__info>span{
    font-weight: 600;
    /* opacity: 0.5; */
}
.detail>p>span,.experiance__info>span{
  font-weight: 500;
}